<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <display-name>assignment1</display-name>
    
    <!-- Welcome page Default  -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- ShipmentTableInitializer Servlet - Initialize Shipment table -->
    <servlet>
        <servlet-name>ShipmentTableInitializer</servlet-name>
        <servlet-class>iotbay.controller.ShipmentTableInitializer</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShipmentTableInitializer</servlet-name>
        <url-pattern>/ShipmentTableInitializer</url-pattern>
    </servlet-mapping>

    <!-- ConnServlet Mapping -->
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>iotbay.controller.ConnServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>

    <!-- LoginServlet Mapping -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotbay.controller.LoginServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

     <!-- RegisyreServlet Mapping -->

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotbay.controller.RegisterServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!-- paymentServlet Mapping -->

    <servlet>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <servlet-class>iotbay.controller.PaymentMethodServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <url-pattern>/PaymentMethodServlet</url-pattern>
    </servlet-mapping>

    <!-- orderServlet Mapping -->

    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>iotbay.controller.OrderHistoryServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>iotbay.controller.LogServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>iotbay.controller.EditProfileServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>iotbay.controller.DeleteAccountServlet</servlet-class>
        <load-on-startup>8</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>

    <!-- Shipment Servlet Configuration -->
    <servlet>
        <servlet-name>ShipmentServlet</servlet-name>
        <servlet-class>iotbay.controller.ShipmentServlet</servlet-class>
        <load-on-startup>9</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ShipmentServlet</servlet-name>
        <url-pattern>/ShipmentServlet</url-pattern>
    </servlet-mapping>

    <!-- Session config -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- UserServlet Mapping -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>iotbay.controller.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

</web-app>